# Local build binaries
node-cli/node-cli
*.pyc
/build/*
/bin
.idea
*.iml
.DS_Store
tags
.tags
.vagrant/
/build
/release/darwin-amd64
/release/linux-amd64
/release/linux-s390x
/release/linux-ppc64le
/release/windows-amd64
# Emacs backup files
*~
*#
.#*
# Vim file artifacts
.*.sw*
# bddtest log files
*.log
# bddtest coverage files
bddtests/coverage
# bddtest Dockerfile
bddtests/environments/kafka/Dockerfile
bddtests/tmp
bddtests/volumes
*.cov
# Makefile dummy artifacts
.*-dummy
# go-carpet output files
go-carpet-coverage*
# make node-sdk copied files
sdk/node/lib/protos/*
# Test result xml files
report.xml
results.xml
TESTS*.xml
.settings
.project
.gradle
build/
bin/
examples/e2e_cli/channel-artifacts/*.tx
examples/e2e_cli/channel-artifacts/*.block
examples/e2e_cli/crypto-config/*
# vscode settings
.vscode
