# SPDX-License-Identifier: Apache-2.0

*.block binary
*.go text eol=lf
*.js text eol=lf
*.json text eol=lf
*.md text eol=lf
*.proto text eol=lf
*.png binary
*.pptx binary
*.py text eol=lf
*.rst text eol=lf
*.sh text eol=lf
*.txt text eol=lf
*.yaml text eol=lf
*.yml text eol=lf
*.zip binary
LICENSE text eol=lf
vendor/** -text
